<!doctype>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title><%= title %></title>
 </head>
 <body>
 <% include ../layout.ejs %>
 <div class="container">
        <div class="row">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                </tr>
                </thead>

                <tbody>
                <% users.forEach(function (item) { %>
                <tr class="item-id-<%= item.user %>">
                        <td><%= item.username %></td>
                        <td><%= item.password %></td>
                    </tr>

                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
       <script type="text/javascript" src="/javascripts/admin.js"></script>
 </body>
 </html>